{#
/**
 * @file
 * Bootstrap Barrio's theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 * - logo_linked: Boolean if logo should be linked
 */
#}
{% set attributes = attributes.addClass('site-branding') %}
  {% if site_logo or site_name %}
    {% if logo_linked %}
      <div class='logo logo-linked'>
        {# Non-mobile display #}
        <a href="{{ path('<front>') }}" title="{{ 'CU Online'|t }}" rel="home" class="d-none d-md-block navbar-brand">
          {% if site_logo %}
            <img src="{{ site_logo }}" alt="{{ 'CU Online'|t }}" class="img-fluid d-inline-block align-top" />
          {% endif %}
          {% if site_name %}
          <span class="ml-2 d-none d-md-inline">{{ site_name }}</span>
          {% endif %}
        </a>
        {# Mobile Display #}
        <a href="{{ path('<front>') }}" title="{{ 'CU Online'|t }}" rel="home" class="d-block d-md-none navbar-brand">
          {% if site_logo %}
            <img src="{{ mobile_logo }}" alt="{{ 'CU Online'|t }}" class="img-fluid d-inline-block align-top" />
          {% endif %}
        </a>
      </div>
    {% else %}
      <div class="logo">
        {% if site_logo %}
          {# Non-mobile display #}
          <span class="d-none d-md-block"><img src="{{ site_logo }}" alt="{{ 'CU Online'|t }}" class="img-fluid d-inline-block align-top" /></span>
          {# Mobile Display #}
          <span class="d-block d-md-none"><img src="{{ mobile_logo }}" alt="{{ 'CU Online'|t }}" class="img-fluid d-inline-block align-top" /></span>
        {% endif %}
        {% if site_name %}
          <span class="ml-2 d-none d-md-inline">{{ site_name }}</span>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}
  {% if site_slogan %}
    <div class="ml-2 d-none d-inline-block align-top site-name-slogan">
      {{ site_slogan }}
    </div>
  {% endif %}
